@{
    Layout = "Vista";
}
  <div class="items-center bg-gradient-to-r from-white to-blue-500 rounded-lg ">
    <h1>Nomina</h1>
<p >Nombre: @ViewData["Nombre"]</p>
<p>Cargo: @ViewData["Cargo"]</p>
<p>Cantidad de Horas: @ViewData["CanH"]</p>
<p>Aumentos: @ViewData["Aumento"]</p>
<p>Descuentos: @ViewData["Descuento"]</p>
<p>Totales: @ViewData["Sueldo"]</p>
</div>
          